.vscode/
Aplikasi yg digunakan/
1662052291698-Day 19.pptx.pdf
node_modules/
README.md
Day 15 - Bootstrap 2 - Helena Natanael.pptx
start/
Aturan bootcamp
Coba
coba test
CV
Day 1
Day 9 test/
Day 19 git/
Day15 Bootstrap/
Day16 Career class
Day17 Bootstrap/Day 17 - Bootstrap 3 - Helena Natanael.pptx
Day17 Bootstrap/Day17.zip
Day18 git